/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/swaddle-custom.css';
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.bg-white{
  background-color:white;
}

.product_tab {
  margin-top: -3em !important;
  height:280px;
  min-width: 120px;
  margin: 0;
  padding:0.5em !important;
  .title {
    font-size:80%;
    //border:1px solid maroon;
  }
  .subtitle {
    font-size:70%;
    //border:1px solid cyan;
    margin-top: -10px !important;
  }
  .content {
    width: 90%;
    height: 80%;
    border:1px solid yellow;
  }
}


.product_details_tab {
  height:380px;
  min-width: 320px;
  margin: 0;
  padding:0.5em !important;
  .title {
    font-size:80%;
    //border:1px solid maroon;
  }
  .subtitle {
    font-size:70%;
    //border:1px solid cyan;
    margin-top: -10px !important;
  }
  .content {
    width: 90%;
    height: 80%;
    border:1px solid yellow;
  }
}
.main-tile{
  padding:0;
}
.card_action  {
  padding-left: 0.5em;
  a {
    padding:0 0.3em 0 0.5em;
  }
}

.bord{
  //border:1px solid red;
}
.borda{
  border:1px solid blue;
}
.bordb{
  //border:1px solid green;
}
